*{
    box-sizing: border-box;
}
.navbar-custom {
    background-color: rgb(59, 67, 72);
    margin: 5px;
}
.menu h1{
    text-align: center;
    margin: 30px;
    
}
.boxes{
    width: 100%;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.box{
    width: 30%;
    height: auto;
    border: solid black;
    margin: 10px;
    box-sizing: border-box;
    background-color:rgb(197, 211, 219);;
}
.box h3{
    margin: 0;
    text-overflow: inherit;
    margin-left: 50%;
    text-align: right;
    padding: 5%;
    border: 1px solid black;   
}

.box p{
    padding: 5%;
    text-align: center;
}

#lbox h3{
    background-color: rgb(160, 107, 116);
}

#mbox h3{
    background-color: rgb(128, 90, 125);
}
#rbox h3{
    background-color: rgb(189, 189, 98);
}


@media screen and (max-width:758px) {
    .box{
        width: 40%;
    }
   
}
@media screen and (max-width:600px) {
    .box{
        width: 60%;
    }
}

